snippet -
--------------------
endsnippet

snippet --
----------------------------------------
endsnippet

snippet ---
-------------------------------------------------------------------------------
endsnippet

snippet ----
-------------------------------------------------------------------------------
								${VISUAL}${0}
-------------------------------------------------------------------------------
endsnippet

snippet =
====================
endsnippet

snippet ==
========================================
endsnippet

snippet ===
===============================================================================
endsnippet

snippet ====
===============================================================================
								${VISUAL}${0}
===============================================================================
endsnippet


